@import-normalize; /* bring in normalize.css styles */

body,
html {
  color: #11101c;
  font-family: "Inter", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-weight: 500;
  width: 100%;
  outline: none;
  margin: 0;
  padding: 0;
  height: 100vh;
  overflow-y: auto;

  background-color: var(--background-2);
}
#root {
  height: 100vh;
}
ul {
  list-style: none;
}

ul {
  padding-inline-start: 0;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}
:root {
  --main-black: #1d1e21;
  --green: #59b17a;
  --red: #e85050;
  --accent: #dcdddf;
  --background: #e7f1ed;
  --background-2: #f7f8fa;
  --white: #fff;
}
